.comparison-box {
  background: url("../images/box.png");
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;

  @include breakpoint('large') {
    padding: 25px;
  }

  .container {
    background-color: white;
    padding: 30px 35px;

    @include breakpoint('large') {
      justify-content: space-between;
      display: flex;
      padding: 0;
    }
  }

  .quote {
    @include breakpoint('large') {
      max-width: 510px;
      padding: 44px 44px 29px 0;

      &:nth-child(1) {
        padding: 44px 0 29px 44px;
      }
    }
  }

  .quote__heading {
    font-size: 14px;

    @include breakpoint('large') {
      font-size: 16px;
    }
  }

  .quote__text {
    @include font-smoothing;
    font-size: 24px;
    line-height: 1.6;

    @include breakpoint('large') {
      font-size: 30px;
      line-height: 1.5;
      margin-top: 10px;
    }
  }

  .circle-container {
    margin: 30px 0;
    position: relative;

    &::before {
      @include pseudo;
      @include center-element;
      background: black;
      height: 1px;
      top: 50%;
      width: 100%;
    }

    @include breakpoint('large') {
      margin: 0 20px;
      align-items: center;
      display: flex;

      &::before {
        height: 100%;
        width: 1px;
        top: 0;
      }
    }
  }

  .circle {
    @include font-smoothing;
    align-items: center;
    background: black;
    border-radius: 100px;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 40px;
    z-index: 1;

    @include breakpoint('large') {
      width: 80px;
      height: 80px;
      font-size: 32px;
    }
  }
}
