.explorations-nav *{
  @include font-family-geo-book;
  @include font-smoothing;
  letter-spacing: 1px;
}
.home .explorations-nav__top {
  background-color: #5c627b;
}
.home .explorations-nav__logo {
  background-color: #8a94a8;
}
.home .explorations-nav__bottom {
  background-color: #6d748e;
}
.home .explorations-nav__link.-home {
  opacity: .5
}
.fantasy-football .explorations-nav__top {
  background-color: #000000;
}
.fantasy-football .explorations-nav__logo {
  background-color: #2b2d2f;
}
.fantasy-football .explorations-nav__bottom {
  background-color: #24272a;
}
.fantasy-football .explorations-nav__link.-fantasy-football {
  opacity: .5
}
.medicine .explorations-nav__top {
  background-color: #753b6b;
}
.medicine .explorations-nav__logo {
  background-color: #996795;
}
.medicine .explorations-nav__bottom {
  background-color: #99568d;
}
.medicine .explorations-nav__link.-medicine {
  opacity: .5
}
.real-estate .explorations-nav__top {
  background-color: #522e5b;
}
.real-estate .explorations-nav__logo {
  background-color: #a0365e;
}
.real-estate .explorations-nav__bottom {
  background-color: #5e315b;
}
.real-estate .explorations-nav__link.-real-estate {
  opacity: .5
}
.ecommerce .explorations-nav__top {
  background-color: color(darkPink);
}
.ecommerce .explorations-nav__logo {
  background-color: color(brightPink);
}
.ecommerce .explorations-nav__bottom {
  background-color: color(brightPink);
}
.ecommerce .explorations-nav__link.-ecommerce {
  opacity: .5
}
body {
  position: relative;
}
.explorations-nav {
  height: 45px;
  width: 100%;
  z-index: 100;
  color: #fff;
}
.explorations-nav.-open {
  height: auto;
}
.explorations-nav.-open .explorations-nav__bottom {
  transform: translateY(0);
  transition: transform .3s ease-in-out;
}
.explorations-nav__container {
  margin: auto;
  max-width: 374px;

  ul {
    list-style: none;
    margin: 0;
  }
}
.explorations-nav__top {
  position: relative;
  z-index: 10;
}
.explorations-nav__top .explorations-nav__container{
  display: flex;
}
.explorations-nav__logo {
  padding: 11px 24px 6px
}
.explorations-nav__logo svg {
  height: 23px;
  opacity: .8;
  width: 68px;
}
.explorations-nav__button {
  /* button styles from normalize 3.0.2 */
  box-sizing: border-box;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  font-size: 17px;
  margin: 0;
  overflow: visible;
  padding: 0;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* /normalize */
  cursor: pointer;
  font-weight: bold;
  margin: 0 auto;
  opacity: .8;
  text-align: center;
  text-transform: uppercase;
}
.explorations-nav__button__content {
  display: flex;
}
.explorations-nav__button__svg {
  fill: #fff;
  height: 15px;
  margin-left: 10px;
  width: 15px;
}
.explorations-nav__bottom {
  padding: 13px;
  position: relative;
  transform: translateY(-100%);
  transition: transform .3s ease-in-out;
  z-index: 1
}
.explorations-nav__link {
  color: inherit;
  display: block;
  font-weight: bold;
  padding: 5px 13px;
}
.explorations-nav a {
  position: static;
  text-transform: uppercase;
}
.explorations-nav a:before,
.explorations-nav a:after {
  display: none;
  position: static;
}
@media screen and (min-width: 990px) {
  .explorations-nav {
    background-color: rgba(color(darkPink), 0.3);
    position: absolute;
    height: 45px !important;
  }

  .explorations-nav__top,
  .explorations-nav__container {
    height: inherit;
  }

  .explorations-nav__top,
  .explorations-nav__bottom {
    position: absolute;
    right: 0;
    top: 0;
    width: 374px;
  }
}
