.gnav-explorations-nav {
  @include font-family-geo-book;

  @media screen and (min-width: 990px) {
    &::before {
      background-color: rgba(color(darkPink), 0.3);
      content: '';
      height: 45px;
      position: absolute;
      right: 0;
      top: 0;
      width: 100vw;
    }
  }
}
