.hero {
  overflow: hidden;
  position: relative;

  @include breakpoint('large') {
    padding-bottom: 100px;
  }

  .hero__bg {
    background: url("../images/pink-watercolor.png");
    background-size: cover;
    padding: 20px 20px 15px;

    @include breakpoint('large') {
      padding: 100px;
    }
  }

  .container {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    z-index: 100;

    // pixelated black image
    &::after {
      @include pseudo-bg(url('../images/pixelated-black.png'));
      height: 103px;
      right: -20px;
      top: -15px;
      width: 177px;
      z-index: -1;

      @include breakpoint('large') {
        height: 382px;
        right: -100px;
        top: -55px;
        width: 658px;
      }
    }
  }

  .hero__card {
    @include null-margins;
    background-color: white;
    padding: 10%;
    position: relative;

    @include breakpoint('large') {
      padding: 90px 75px 176px;
    }

    // lines image
    &::before {
      @include pseudo-bg(url('../images/abstract-lines.png'));
      @include square(131px);
      left: -100px;
      top: 5px;
      transform: rotate(11.5deg);

      @include breakpoint('large') {
        @include square(500px);
        left: -425px;
      }
    }

    // triangle image
    &::after {
      @include pseudo-bg(url('../images/triangle.png'));
      height: 129px;
      right: -95px;
      top: 52px;
      width: 125px;

      @include breakpoint('large') {
        bottom: -80px;
        height: 560px;
        right: -490px;
        top: initial;
        width: 541px;
      }
    }

    .hero__subheading {
      @include font-family-geo-book;
      display: block;
      font-size: $font-size-tiny;
      font-weight: bold;
      letter-spacing: .3em;
      margin-bottom: 10px;
      position: relative;
      text-transform: uppercase;
      z-index: 1;

      @include breakpoint('large') {
        font-size: $font-size-large;
        margin-bottom: 30px;
      }
    }

    .hero__svg svg {
      max-width: 900px;
      width: 100%;

      @include breakpoint('full') {
        min-height: 352px;
      }
    }
  }

  .hero__leadin {
    @include null-margins;
    padding: 35px 10%;
    position: relative;
    z-index: 100;

    @include breakpoint('large') {
      @include center-element;
      bottom: 0px;
      font-size: $font-size-larger;
      line-height: 1.75;
      padding: 70px 110px;
      position: absolute;
      width: 900px;
    }

    // mouse pointer image
    &::after {
      @include pseudo-bg(url('../images/pointer.png'));
      height: 73px;
      right: 0;
      top: -68px;
      width: 79px;

      @include breakpoint('large') {
        height: 249px;
        right: -175px;
        top: 68px;
        width: 267px;
      }
    }
  }
}

