.intro {
  .wrapper {
    padding-bottom: 60px;

    @include breakpoint('large') {
      padding-top: 76px;
    }
  }

  hr {
    border: none;
    margin: 50px auto;
    text-align: center;

    &::after {
      content: url("../images/x.png");
      position: relative;
      top: 7px;
    }
  }

  .intro__leadin {
    @include breakpoint('large') {
      font-size: $font-size-large;
    }
  }
}
