.opportunity {

  &#opportunity1 {
    .opportunity__header {

      &::before {
        @include pseudo('1');
      }

      &::after {
        @include pseudo-bg(url("../images/opp1.png"));
        height: 267px;
      }
    }
  }

  &#opportunity2 {
    .opportunity__header {

      &::before {
        @include pseudo('2');
      }

      &::after {
        @include pseudo-bg(url("../images/opp2.png"));
        height: 302px;
      }
    }
  }

  &#opportunity3 {
    .opportunity__header {

      &::before {
        @include pseudo('3');
      }

      &::after {
        @include pseudo-bg(url("../images/opp3.png"));
        height: 189px;
      }
    }
  }

  // setting margins + layout
  .small-black-heading {
    margin-top: 60px
  }

  .wrapper {
    &.-content {
      max-width: 1200px;
      padding-bottom: 36px;
    }

    &.-solution {
      padding-top: 0;
      padding-bottom: 60px;
    }
  }

  // header
  .opportunity__header {
    margin: 0 auto;
    max-width: 450px;
    overflow: hidden;
    position: relative;
    text-align: center;

    .opportunity__header__text {
      @include font-family-geo-book;
      font-size: $font-size-larger;
      letter-spacing: $font-spacing-narrow;
      line-height: 1.4;
      margin: 0 0 50px 30%;
      text-align: left;
      text-transform: uppercase;
      width: 200px;
    }

    //large number on left
    &::before {
      @include font-family-lora;
      font-size: 120px;
      font-weight: 400;
      line-height: 1;
      top: -10px !important;
    }

    //section image on right
    &::after {
      display: block;
      margin: 0 auto;
      position: relative !important;
      width: 302px;
    }
  }

  .opportunity__content {
    height: 100%;
    margin-bottom: 40px;
  }

  // leadin text with pink underline
  .opportunity__content__leadin {
    @include font-family-geo;
    font-size: 20px;

    span {
      box-shadow: inset 0 -0.4em color(slightlyDarkerPink);
    }
  }

  @include breakpoint('large') {

    .wrapper.-content {
      padding-bottom: 100px;
    }

    &#opportunity1 {
      .opportunity__header::after {
        width: 535px;
        height: 474px;
      }
    }

    &#opportunity2 {
      .opportunity__header::after {
        @include square(528px);
        top: -20px;
        z-index: -1;
      }
    }

    &#opportunity3 {
      .opportunity__header::after {
        width: 730px;
        height: 458px;
      }
    }

    .opportunity__header {
      height: 480px;
      max-width: none;
      overflow: visible;

      //large number on left
      &::before {
        font-size: 200px;
        left: 50px !important;
      }

      //image on right
      &::after {
        position: absolute !important;
        right: -100px;
      }

      .opportunity__header__text {
        font-size: 42px;
      }
    }

    .opportunity__content {
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      h3, p {
        width: 700px;
      }

      .opportunity__content__leadin {
        font-size: $font-size-larger;
        line-height: 2.2;
        text-align: justify;
      }

      .small-black-heading:nth-child(1) {
        margin-top: 0px;
      }
    }

    .solution {
      align-items: flex-start;
      display: flex;
      flex-direction: row-reverse;
      margin-top: 34px;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        align-items: stretch;
      }

      div {
        flex: 1;
      }

      .solution__heading, .small-pink-heading {
        margin-top: 0;
      }

      .solution__animation {
        flex: 1.3;
        margin-right: 5%;
        transform: translateY(-8.5%);
      }
    }

    // every other section gets reverse order of text-image in solution section
    &:nth-child(odd) {
      .solution {
        flex-direction: row;
      }

      .solution__animation {
        margin: 0 0 0 5%;
      }
    }
  }
}
