.problem {

  .small-pink-heading {
    margin-bottom: 8px;
  }

  .problem__header {
    margin-bottom: 50px;
  }

  .problem__subheading {
    @include font-family-exodus;
    font-size: $font-size-larger;
    font-weight: 400;
    letter-spacing: $font-spacing-narrow;
    line-height: 1.4;

    @include breakpoint('large') {
      font-size: 50px;
    }
  }

  .pull-quote {
    @include font-smoothing;
    line-height: 1.6;
  }

  .problem__point {
    margin-top: 60px;

    &:nth-child(1) {
      .problem__point__img {
        background-image: url("../images/problem-point1.png");
      }
    }

    &:nth-child(2) {
      .problem__point__img {
        background-image: url("../images/problem-point2.png");
      }
    }

    @include breakpoint('large') {
      display: flex;
      justify-content: center;
      margin-top: 0px;
      position: relative;
      top: 60px;

      &:nth-child(1) {
        .problem__point__img {
          height: 448px;
          left: 15%;
        }

        .problem__point__text {
          left: 12%;
        }
      }

      &:nth-child(2) {
        .problem__point__img {
          height: 372px;
          left: -20%;
          top: -100px;
        }

        .problem__point__text {
          left: 50%;
          top: 10px;
        }
      }
    }

    @include breakpoint('full') {
      justify-content: flex-start;

      &:nth-child(1) {
        .problem__point__img {
          left: 250px;
        }

        .problem__point__text {
          left: 0;
        }
      }

      &:nth-child(2) {
        .problem__point__img {
          left: 0;
        }

        .problem__point__text {
          left: 350px;
          width: 275px;
        }
      }
    }
  }

  .problem__point__text {
    margin-top: 20px;

    @include breakpoint('large') {
      position: absolute;
    }
  }

  .problem__point__img {
    height: 300px;
    background-size: cover;
    position: relative;

    @include breakpoint('large') {
      width: 390px;
    }
  }

  .steps-wrapper {
    @include narrow-content;
    @include null-margins;
    margin: 50px auto;
  }

  .steps {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .small-black-heading {
      font-size: $font-size-tiny;

      @include breakpoint('large') {
        font-size: $font-size-small;
      }
    }
  }

  .container {
    @include breakpoint('full') {
      display: flex;
    }
  }

  .problem__content {
    @include null-margins;

    @include breakpoint('full') {
      flex: 1.1;
    }
  }

  .problem__points {
    @include breakpoint('full') {
      flex: 1;
      margin-left: 5%;
    }
  }

  .bgcolor-pink {
    position: relative;

    svg {
      bottom: 0;
      fill-opacity: 0.8;
      position: absolute;

      &.diagonal-left {
        fill: #f7d5c6;
        height: 80%;
        width: 70%;
      }

      &.diagonal-right {
        fill: #f4d0c0;
        height: 60%;
        right: 0;
        width: 90%;
      }
    }

    .wrapper {
      @media (max-width: 989px) {
        padding-top: 80px;
        padding-bottom: 80px;
      }

      p {
        @include font-smoothing;

        @include breakpoint('large') {
          font-size: $font-size-large;
        }
      }
    }
  }
}

.problem1 .wrapper {
  overflow-x: hidden;
}
