.problem {

  .small-pink-heading {
    margin-bottom: 8px;
  }

  .problem__header {
    margin-bottom: 30px;
  }

  .problem__subheading {
    @include font-family-exodus;
    font-size: $font-size-larger;
    font-weight: 400;
    letter-spacing: $font-spacing-narrow;
    line-height: 1.4;
  }

  .pull-quote {
    @include font-smoothing;
  }

  .problem__point {
    margin-top: 60px;

    &:nth-child(1) {
      .problem__point__img {
        background-image: url("../images/image.png");
      }
    }

    &:nth-child(2) {
      .problem__point__img {
        background-image: url("../images/image (3).png");
      }
    }
  }

  .problem__point__text {
    margin-top: 20px;
  }

  .problem__point__img {
    height: 300px;
    background-size: cover;
    position: relative;
  }

  @include breakpoint('large') {
    .problem__subheading {
      font-size: 50px;
    }

    .pull-quote {
      font-size: 32px;
    }

    .problem__point {
      display: flex;
      position: relative;
        justify-content: center;

      &:nth-child(1) {

        .problem__point__img {
          height: 448px;
          left: 15%;
        }

        .problem__point__text {
          left: 15%;
          top: 13px;
        }
      }

      &:nth-child(2) {
        .problem__point__img {
          height: 372px;
          top: -160px;
          left: -20%;
        }

        .problem__point__text {
          left: 50%;
          top: -50px;
        }
      }
    }

    .problem__point__img {
      width: 390px;
    }

    .problem__point__text {
      position: absolute;
    }




    .items__text {
      text-align: center;
    }
  }

  @include breakpoint('full') {
    .container {
      display: flex;
    }

    .problem__content {
      flex: 1;
    }

    .problem__points {
      flex: 1.1;
      margin-left: 5%;
    }

    .problem__point {

      &:nth-child(1) {

        .problem__point__img {
          left: 150px;
        }

        .problem__point__text {
          left: 0;
        }
      }

      &:nth-child(2) {
        // .problem__point__img {
        //   left: 0;
        // }

        .problem__point__text {
              left: 350px;
          width: 275px;
          // right: 0;
        }
      }
    }
  }

}


.items {
  max-width: 800px;
  margin: 0 auto;
}

