$list-padding-left: 50px;
$navbar-height: 118px;
$activeLinkColor: color(slightlyDarkerPink);

.sticky-nav {
  color: white;
  top: 0;
  z-index: 1;

  @include breakpoint('medium') {
    align-items: center;
    display: flex;
    height: $navbar-height;
    position: sticky;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: $max-content-width + 50;
    padding: 30px 30px 10px;
    width: 100%;

    .-tiny {
      margin: 0 auto;
    }

    @include breakpoint('medium') {
      padding: 0 30px;
    }

    @include breakpoint('large') {
      flex-direction: row;
    }
  }

  .sticky-nav__inner {
    list-style: none;
    margin: 0 auto;
    padding-left: $list-padding-left;

    @include breakpoint('medium') {
      align-items: center;
      display: flex;
      justify-content: space-between;
      max-width: 975px;
      width: 100%;
    }

    li {
      padding: 30px 0;
      position: relative;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) .sticky-nav__link::before {
          content: '#{$i}';
          position: absolute;
        }
      }

      @include breakpoint('medium') {
        padding: 0;
        width: 135px;
      }

      @include breakpoint('full') {
        width: initial;
      }
    }
  }

  .sticky-nav__link {
    transition: 0.2s ease-out;

    &::before {
      @include font-family-lora;
      font-size: 60px;
      font-weight: 400;
      left: -1 * $list-padding-left;
      line-height: 1;
      top: 15px;

      @include breakpoint('medium') {
        top: 0;
      }
    }

    &:hover,
    &.-active {
      color: $activeLinkColor;
    }

    &.-active::after {
      opacity: 1;
    }

    @include breakpoint('large') {
      &::after {
        @include pseudo('');
        background: $activeLinkColor;
        height: 5px;
        left: -1 * $list-padding-left;
        opacity: 0;
        top: -27px;
        width: 137%;
        transition: opacity 0.2s ease-out;
      }
    }

    @include breakpoint('full') {
      width: initial;

      &::before {
        top: -13px;
      }

      &::after {
        top: -43px;
        width: 123%;
      }
    }
  }

  //specify custom container as reference viewport for inViewport. If this container has a height greater than 0.5px, will cause 2 sections to be active at same time.
  .inViewportContainer {
    height: 0.5px;
    position: fixed;
    top: $navbar-height;
    width: 100%;
  }
}
