// Background Colors
.bgcolor-white
  background-color: #fff

.bgcolor-blue
  background-color: color(blue)

.bgcolor-blue-light
  background-color: color(blue, light)

.bgcolor-blue-dark
  background-color: color(blue, dark)

.bgcolor-red
  background-color: color(red)

.bgcolor-red-light
  background-color: color(red, light)

.bgcolor-red-dark
  background-color: color(red, dark)

.bgcolor-teal
  background-color: color(teal)

.bgcolor-teal-light
  background-color: color(teal, light)

.bgcolor-teal-dark
  background-color: color(teal, dark)

.bgcolor-orange
  background-color: color(orange)

.bgcolor-orange-light
  background-color: color(orange, light)

.bgcolor-orange-dark
  background-color: color(orange, dark)

.bgcolor-yellow
  background-color: color(yellow)

.bgcolor-yellow-light
  background-color: color(yellow, light)

.bgcolor-yellow-dark
  background-color: color(yellow, dark)

.bgcolor-teal
  background-color: color(teal)

.bgcolor-teal-light
  background-color: color(teal, light)

.bgcolor-teal-dark
  background-color: color(teal, dark)

.bgcolor-green
  background-color: color(green)

.bgcolor-green-light
  background-color: color(green, light)

.bgcolor-green-dark
  background-color: color(green, dark)

.bgcolor-purple
  background-color: color(purple)

.bgcolor-purple-light
  background-color: color(purple, light)

.bgcolor-purple-dark
  background-color: color(purple, dark)

.bgcolor-grey
  background-color: color(grey)

.bgcolor-grey-light
  background-color: color(grey, light)

.bgcolor-grey-lighter
  background-color: color(grey, lighter)

.bgcolor-grey-dark
  background-color: color(grey, dark)

.bgcolor-grey-darker
  background-color: color(grey, darker)

// Patterns
.bg-pattern
  background-image: url('/assets/images/pattern-triangle.png')
  background-size: 485px 510px

  +retina
    background-image: url('/assets/images/pattern-triangle@2x.png')
