// Background Colors
.bgcolor-lightGray {
  background-color: color(lightGray);
}

.bgcolor-pink {
  background-color: color(lightPink);
}

.bgcolor-black {
  background-color: color(black);
}


// Patterns
// .bg-pattern
//   background-image: url('/assets/images/pattern-triangle.png')
//   background-size: 485px 510px

//   +retina
//     background-image: url('/assets/images/pattern-triangle@2x.png')
