// Background Colors
.bgcolor-lightGray {
  background-color: color(lightGray);
}

.bgcolor-pink {
  background-color: color(lightPink);
}

.bgcolor-black {
  @include font-smoothing;
  background-color: color(black);
}
