.bp-mobile-only
  display: none !important

  +bp-mobile-only
    display: block !important

.bp-phablet
  display: none !important

  +bp-phablet
    display: block !important

.bp-phablet-only
  display: none !important

  +bp-phablet-only
    display: block !important

.bp-tablet
  display: none !important

  +bp-tablet
    display: block !important

.bp-tablet-only
  display: none !important

  +bp-tablet-only
    display: block !important

.bp-up-to-notebook
  display: none !important

  +bp-up-to-notebook
    display: block !important

.bp-notebook
  display: none !important

  +bp-notebook
    display: block !important

.bp-notebook-only
  display: none !important

  +bp-notebook-only
    display: block !important

.bp-desktop
  display: none !important

  +bp-desktop
    display: block !important

.bp-desktop-only
  display: none !important

  +bp-desktop-only
    display: block !important

.bp-cinema
  display: none !important

  +bp-cinema
    display: block !important

.bp-main-menu
  display: none !important

  +bp-main-menu
    display: block !important

.bp-up-to-main-menu
  display: none !important

  +bp-up-to-main-menu
    display: block !important
