// Variables
$button-background-color : transparent;
$button-font-color       : #fff;

// Styles
.button
  background-color: transparent
  border-radius: 2px
  border: 1px solid $button-font-color
  color: $button-font-color
  display: inline-block
  font-weight: 300
  +font-family-roboto-condensed
  letter-spacing: 1px
  line-height: 1
  padding: 0.75em 1.5em
  position: relative
  text-align: center
  text-transform: uppercase
  +transition

  // Overrides
  &.-no-letter-spacing
    letter-spacing: 0

  // Colors
  &.-white
    &.-outline
      border-color: #fff
      color: #fff

      &:hover
        background: #fff
        color: color(blue)

    &.-fill
      background: #fff
      border-color: #fff
      color: color(blue)

      &:hover
        background: color(blue, lighter)
        border-color: color(blue, lighter)

  &.-green
    &.-outline
      border-color: color(green)
      color: color(green)

      &:hover
        background: color(green)
        color: #fff

    &.-fill
      background: color(green)
      border-color: color(green)

      &:hover
        background: color(green, dark)
        border-color: color(green, dark)

  &.-blue
    &.-outline
      color: color(blue)
      border-color: color(blue)

      &:hover
        background: color(blue)
        color: #fff

    &.-fill
      background: color(blue)
      border-color: color(blue)
      color: #fff

      &:hover
        background: color(blue, dark)
        border-color: color(blue, dark)

  &.-red
    &.-outline
      border-color: color(red)
      color: color(red)

      &:hover
        background: color(red)
        color: #fff

    &.-fill
      background: color(red)
      border-color: color(red)
      color: #fff

      &:hover
        background: color(red, dark)
        border-color: color(red, dark)

  &.-teal
    &.-outline
      border-color: color(teal)
      color: color(teal)

      &:hover
        background: color(teal)
        color: #fff

    &.-fill
      background: color(teal)
      border-color: color(teal)
      color: #fff

      &:hover
        background: color(teal, dark)
        border-color: color(teal, dark)

  &.-orange
    &.-outline
      border-color: color(orange)
      color: color(orange)

      &:hover
        background: color(orange)
        color: #fff

    &.-fill
      background: color(orange)
      border-color: color(orange)
      color: #fff

      &:hover
        background: color(orange, dark)
        border-color: color(orange, dark)

  &.-purple
    &.-outline
      color: color(purple)
      border-color: color(purple)

      &:hover
        background: color(purple)
        color: #fff

    &.-fill
      background: color(purple)
      border-color: color(purple)
      color: #fff

      &:hover
        background: color(purple, dark)
        border-color: color(purple, dark)


  // Display Types
  &.-block
    display: block
    width: 100%

  &.-centered
    margin: 0 auto

  // Sizes
  &.-small
    font-size: 14px

  &.-large
    padding: 20px 40px

  // Width
  &.-width-normal
    min-width: 180px

  &.-width-large
    min-width: 240px


.juicer-button
  body &.fart
    border-radius: 2px

  @each $color in map-keys($colors)
    body .theme-#{$color} &
      border: 1px solid color($color)
      color: color($color)
      +font-family-roboto-condensed
      font-size: 16px
      font-smoothing: aliased
      font-weight: 300
      letter-spacing: 1px
      line-height: 1
      padding: 0.75em 1.5em

      &:hover
        background: color($color)
        color: #fff
