[type="date"],
[type="email"],
[type="file"],
[type="number"],
[type="tel"],
[type="time"],
[type="search"],
[type="password"],
[type="text"],
textarea
  background: #fff
  border: 2px solid color(grey, lighter)
  box-sizing: border-box
  color: color(grey)
  font-size: $base-font-size
  +font-family-roboto-condensed
  margin: 0
  padding: 8px 10px
  +smooth-fonts
  width: 100%

  // Misc Browser fixes
  &::-ms-clear
    display: none

  &::-webkit-calendar-picker-indicator
    display: none

textarea
  height: 200px
  resize: vertical

.form__row
  display: block
  position: relative
  vertical-align: top

.form__label
  color: color(grey)
  cursor: text
  display: block
  font-size: 12px
  margin: 0
  padding: 18px 0 6px
  position: relative
  text-align: left
  width: 100%

  abbr
    border-bottom: none
    text-decoration: none

.form__footer
  margin-top: 20px

.form__callout
  border: solid color(grey, light)
  border-width: 1px 0
  margin-top: 20px
  padding-bottom: 20px

.form__inactive
  opacity: 0.3
  transition: opacity 0.5s ease-in-out
