body {
  margin: 0;

  * {
    box-sizing: border-box;
  }
}

h1,
h2,
h3 {
  font-size: $font-size-small;
  font-weight: 400;
}

ul {
  list-style: inside;
  margin-top: 0;
  padding-left: 0;
}

ol {
  margin: 0;
}

blockquote {
  margin: 0;
}

hr {
  border-color: color(lightGray)
}
