img
  display: block
  max-width: 100%

.dark-overlay
  position: relative

  &:before
    +pseudo
    background: rgba(#000, 0.1)
    display: block !important
    +fill
    z-index: 2

  &:after
    +pseudo
    display: block !important
    background: linear-gradient(transparent, rgba(#000, 0.66));
    +fill
    z-index: 3

  > *
    position: relative
    z-index: 4

  > img
    z-index: 1

.filled-svg
  border-radius: 20px
  display: inline-block
  height: 40px
  line-height: 40px
  margin: 0 2px
  position: relative
  width: 40px

  svg
    fill: #fff
    height: 20px
    line-height: 20px
    position: relative
    width: 20px
    +absolute-center
    +transition

  &.-facebook
    background: #3b5998

    &:hover
      background: darken(#3b5998, 10%)

  &.-twitter
    background: #09afee

    &:hover
      background: darken(#09afee, 10%)

  &.-mail
    background: color(blue)

    &:hover
      background: darken(color(blue), 10%)

// Spritesheet
.sprite
  &.-hexagon
    &.-outline
      svg
        fill: transparent

      &.-green
        svg
          stroke: color(green)
      &.-blue
        svg
          stroke: color(blue)
      &.-purple
        svg
          stroke: color(purple)
      &.-red
        svg
          stroke: color(red)

      &.-stroke-width-6
        stroke-width: 6px

  &.-hexagon-edge
    &.-green
      svg
        fill: color(green)
    &.-blue
      svg
        fill: color(blue)
    &.-purple
      svg
        fill: color(purple)
    &.-red
      svg
        fill: color(red)
    &.-orange
      svg
        fill: color(orange)
    &.-dark-yellow
      svg
        fill: color(yellow, dark)
