.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 30px;
  position: relative;

  @include breakpoint("large") {
    padding: 100px;

    &.-narrow {
      padding: 100px 200px;
    }
  }
}
