.wrapper {
  @include null-margins;
  margin: 0 auto;
  max-width: 1400px;
  padding: 60px 30px;
  position: relative;

  @include breakpoint("large") {
    padding: 120px 100px;

    &.-narrow {
      padding: 120px 200px;
    }
  }
}
