a {
  color: #fff;
  text-decoration: none;
}

[data-whatinput="mouse"] button:focus,
[data-whatinput="touch"] button:focus,
[data-whatinput="mouse"] a:focus,
[data-whatinput="touch"] a:focus {
  outline: none;
}
