// Imports
@mixin font-face($name, $filename, $style: normal, $weight: normal) {
  @font-face {
    font-family: #{$name};
    font-style: $style;
    font-weight: $weight;
    src: url("../fonts/#{$name}/#{$filename}.eot");
    src: url("../fonts/#{$name}/#{$filename}.eot?#iefix") format("embedded-opentype"), url("../fonts/#{$name}/#{$filename}.woff") format("woff"), url("../fonts/#{$name}/#{$filename}.ttf") format("truetype"), url("../fonts/#{$name}/#{$filename}.svg##{$name}") format("svg");
  }
}

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700');
@include font-face('geomanist-regular', 'geomanist-regular-webfont');
@include font-face('geomanist-book', 'geomanist-book-webfont');
@include font-face('exodus', 'exodusdisplay-sharpen-webfont');


// Variables
$base-font-size   : 18px;
$base-line-height : 1.8;
$font-size-tiny: 14px;
$font-size-small: 16px;
$font-size-large: 22px;
$font-size-larger: 24px;
$font-size-xlarge: 30px;
$font-spacing-narrow: 0.15em;
$font-spacing-wide: 0.2em;


// Mixins
@mixin font-family-lora {
  font-family: 'Lora', 'Cambria', 'Times New Roman', 'Times', serif;
}

@mixin font-family-exodus {
  font-family: 'exodus', 'Cambria', 'Times New Roman', 'Times', serif;
}

@mixin font-family-geo {
  font-family: 'geomanist-regular', 'Arial', san-serif;
}

@mixin font-family-geo-book {
  font-family: 'geomanist-book', 'Arial', san-serif;
}

@mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

