// Variables

// Mixins

@mixin pseudo($content: '') {
  content: $content;
  position: absolute;
  top: 0;
  left: 0;
}

@mixin pseudo-bg($url: '') {
  content: '';
  background-image: $url;
  background-size: contain;
  position: absolute;
  top: 0;
}

@mixin center-element {
  left: 0;
  right: 0;
  margin: 0 auto;
}

@mixin screen-reader {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin null-margins {
  > :first-child {
    margin-top: 0 !important;
  }

  > :last-child {
    margin-bottom: 0 !important;
  }
}

@mixin narrow-content {
  max-width: 800px;
  margin: 0 auto;
}

// =fill($val: 0)
//   bottom: #{$val}
//   left: #{$val}
//   position: absolute
//   right: #{$val}
//   top: #{$val}

// =touch-scroll
//   overflow-y: auto
//   -webkit-overflow-scrolling: touch

// =undo-screen-reader
//   clip: auto
//   height: auto
//   margin: 0
//   overflow: visible
//   padding: 0
//   position: static
//   width: auto

// =centered
//   display: block
//   margin-left: auto
//   margin-right: auto

// =absolute-center
//   display: block
//   left: 50%
//   position: absolute
//   top: 50%
//   transform: translate(-50%, -50%)

// =absolute-center-y
//   display: block
//   position: absolute
//   top: 50%
//   transform: translateY(-50%)

// =focus
//   box-shadow 0 0 3px 9px color(blue)

// =default-link
//   color: color(blue)
//   +font-family-roboto
//   font-weight: bold

//   &:hover
//     text-decoration: underline
